body {
    font-family: Arial, sans-serif;
    background-color: #FFF2F2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("deans01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    padding: 40px;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 14px;
    font-size: 14px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    background-color: #2D336B;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: black;
}

.back-btn {
    display: block; 
    width: 100%;
    min-width: 100px; 
    margin-bottom: 1.2rem;
    text-align: center;
    padding: 0.6rem 0;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #999;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    box-sizing: border-box; 
    background-color: black;
}

.back-btn:hover {
    background-color: black;
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid transparent;
    text-align: center;
    font-size: 0.9rem;
}

.message.success {
    background-color: #e6ffe6; 
    color: #1e8449;
    border-color: #1e8449;
}

.message.error {
    background-color: #ffe6e6; 
    color: #cc3333; 
    border-color: #cc3333;
}